@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import 'variables';

::after,
::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: $body-bg-color;
}

a {
  text-decoration: none;
}

.main {
  background-color: $white-color;
  margin-top: -3px;
}
