$body-bg-color: #f5f6fa;
$white-color: #fff;
$blue-prim-color: #0290ff;
$blue-secondary-color: #4386bf;
$black-prim-color: #1d1919;
$gray-color: #888;
$gary-line: #e8e8e8;
$p: 80%;
$v: calc(((18 / 5) * $p - 90) * 1deg);
$robotoSlab-font: 'Roboto Slab', serif;
$Montserrat-font: 'Montserrat', sans-serif;
